@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@1&display=swap');

$vert: #396B56;
$vertFonce: #213f32;
$vertClair: #497562;
$blanc: #fff;
$noir: #000;

$fonte: "Libre Franklin";


